@import "../../../Constant.scss";

#registration {
  .card-regis {
    min-height: 80vh;
    min-width: 70vw;
    border-color: black;
    border-radius: 10px;
  }

  .ant-steps-navigation .ant-steps-item::before {
    background-color: $buttonBlue;
    height: 5px;
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background: $buttonBlue;
  }

  .ant-steps-item-process .ant-steps-item-icon {
    border-color: buttonBlue;
  }

  .react-datepicker__input-container {
    width: inherit;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .customDatePicker,
  .customDatePicker > div.react-datepicker-wrapper,
  .customDatePicker
    > div
    > div.react-datepicker__input-container
    .customDatePicker
    > div
    > div.react-datepicker__input-container
    input {
    width: 100%;
  }

  div.ReactTags__tags {
    position: relative;
  }

  div.ReactTags__tagInput {
    min-width: 480px;
    width: auto;
    border-radius: 2px;
    display: inline-block;
  }
  div.ReactTags__tagInput input.ReactTags__tagInputField,
  div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
  }

  div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid $buttonBlue;
    background: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
  }
  div.ReactTags__selected button.ReactTags__remove {
    border: none;
    color: $buttonBlue;
    background-color: #fff;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Styles for suggestions */
  div.ReactTags__suggestions {
    position: absolute;
  }
  div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
  }
  div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
  }
  div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }
  div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
  }
}
