$bgColor: #d1d1e9;
$primaryColor: #e45858;
$secondaryColor: #6246ea;
$buttonBlue:  #6246EA;
$buttonRed: #E45858;

$mainFont: "Oxygen", sans-serif;

$headerFontSize: 40px;
$defaultFontSize: 25px;
$buttonFontSize: 21px;
